# Environment
NODE_ENV="development" # development | production | testing | staging

# Application configurations
APP_NAME="Spidex Core"
APP_DESCRIPTION="This is base document for Spidex Core"
APP_GLOBAL_PREFIX="/api"
APP_SWAGGER_PATH="/swagger"
APP_DOCS_SCHEMA="http"
APP_VERSION="1.0.0"
APP_HOST="0.0.0.0"
APP_PORT=8000
APP_HOST_NAME="localhost:8000"
APP_BASE_URL="http://localhost:8000"

# JWT configurations
JWT_ACCESS_TOKEN_SECRET=secretjwt1
JWT_ACCESS_TOKEN_EXPIRATION_TIME=3600000
JWT_REFRESH_TOKEN_SECRET=secretjwt2
JWT_REFRESH_TOKEN_EXPIRATION_TIME=86400000

# recapcha
GOOGLE_RECAPCHA_SECRET_KEY='GOOGLE_RECAPCHA_SECRET_KEY'
VERIFICATION_URL='VERIFICATION_URL'

# Wallet sign message and log
WALLET_SIGN_MESSAGE=USER_CONNECT_WALLET
LOG_LEVEL=INFO


# Database configurations
DB_TYPE=postgres
DB_HOST=postgres
DB_PORT=8001
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=spidex-app
DB_SYNC=false
DB_LOG=true # "true" | "false" | "all" | "query" | "schema" | "error" | "warn" | "info" | "log" | "migration"
DB_RETRY_ATTEMPT=3
DB_RETRY_DELAY=5000
DB_EXTRA='{"connectionLimit":20}'
DB_MAX_CONNECTIONS=100
DB_SSL_ENABLED=false
DB_REJECT_UNAUTHORIZED=false
DB_CA=
DB_KEY=
DB_CERT=
DB_URL=

# Adminer
ADMINER_PORT=8002

# Redis
REDIS_PORT=6379
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_DB=0

# S3
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET=spidex
S3_REGION=ap-southeast-1
S3_PREVIEW_URL=https://10ec13469dc89a98cdc8b204e7b5897a.r2
S3_URL=https://cdn.spidex.ag

# auth pepper
AUTH_PEPPER=secretpepper 
AUTH_SALT_ROUNDS=10

CRYPTO_SECRET_KEY=devspidexai

FIREBASE_SERVICE_ACCOUNT_PATH=service-account.json

X_BASE_URL=https://api.x.com/2
X_CLIENT_ID=
X_CLIENT_SECRET=


KAFKA_PROVIDER=kafka
KAFKA_BROKERS=kafka-0:9092
KAFKA_EXTERNAL_PORT=39094
KAFKA_CLIENT_ID=spidex-core
KAFKA_SSL=false
KAFKA_REGION=us-east-1
KAFKA_UI_PORT=8888

TAPTOOLS_API_URL=https://openapi.taptools.io/api/v1
TAPTOOLS_API_KEY=

DEXHUNTER_API_URL=https://api-us.dexhunterv3.app

TOKEN_CARDANO_API_URL=https://tokens.cardano.org

COINGECKO_API_URL=https://api.coingecko.com/api/v3
COINGECKO_API_KEY=

BLOCKFROST_API_URL=https://cardano-mainnet.blockfrost.io/api/v0
BLOCKFROST_API_KEY=